<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; app_in.rb &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>rb</string>
	<key>name</key>
	<string>Class with URLs</string>
	<key>uuid</key>
	<string>0B2C908F-7454-4895-A658-C795971E3D76</string>
</dict>
</plist>
